

.Controls {
    display: flex;
    align-items: center;
    margin-right: 10px;
    align-content: stretch;
    justify-content:space-around
}

.ButtonsContainer {
    margin-top: 10px; 
    align-items: center;
}


